.vs/Uber Boat/v15/.suo
.vs/Uber Boat/v15/Server/sqlite3/storage.ide-shm
Uber Boat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Uber Boat/obj/Debug/Uber Boat.pdb
Uber Boat/obj/Debug/Uber Boat.dll
Uber Boat/obj/Debug/Uber Boat.csprojResolveAssemblyReference.cache
Uber Boat/obj/Debug/Uber Boat.csproj.FileListAbsolute.txt
.vs/Uber Boat/v15/.suo
